.footer {
    background-color: rgb(5, 5, 71);
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}

.redes-sociais {
    width: 200px;
    
}
